<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.babayka.clipboardsync</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/babayka/Project/clipboard-sync/mac_app/start_server.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/babayka/Project/clipboard-sync/mac_app/server.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/babayka/Project/clipboard-sync/mac_app/server_error.log</string>
</dict>
</plist>
